<!DOCTYPE html>
<html lang="en">
<title>Shallrear</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
</head>

<!-- Header -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <img class="w3-image" src="/images/น้ำตก.jpg" alt="Me" width="1300" height="1300">
  
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
    <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">Shallrear</h1>
    <h5 class="w3-hide-large" style="white-space:nowrap">Shallrear</h5>
    <h3 class="w3-hide-medium w3-hide-small">PHOTOGRAPHER</h3>
  </div>
  
  <!-- Navbar (placed at the bottom of the header image) -->
  <div class="w3-bar w3-light-grey w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-16px">
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="/perimeter" class="w3-bar-item w3-button">Portfolio</a>
    <a href="/covid" class="w3-bar-item w3-button">Covid-19</a>
    <a href="/about" class="w3-bar-item w3-button">About up</a>
    <a href="/register" class="w3-bar-item w3-button">Register</a>
    <a href="/lo" class="w3-bar-item w3-button">Login</a>
  </div>
</header>
<body>
<br>

<br>
  <h2 style="text-align:center">---------------- Welcome To Thailand ----------------</h2>

<br>

<br>
<h3 align = 'center'>
<div class="container-fluid">
    <form role="form" method="GET" id="form1" action="/">
      <div class="form-group">
        <label for="city">ค้นสถานที่ท่องเที่ยวแต่ละจังหวัด</label>
        <select id="city" name="city" class="form-control">
          <option value="about">ตรัง</option>
          <option value="covid">พิษณุโลก</option>
          <option value="cafe">ภูเก็ต</option>

        </select>
      
      <button type="button" class="btn btn-primary">OK</button>
     </form>
    </div>
</div>
                 
</script>
</h3>
<div class="w1" id="portfolio"></div>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/images/เกาะมุก.jpg" alt="เกาะมุก" style="width:100%">
        <div class="container">
          <h2>เกาะมุก</h2>
          <div id="result" style="margin:10px; color:black;"></div>
            <script>
              $.get("https://covid19.th-stat.com/api/open/cases/sum",function(data,status){
                $("#result").html  ("ผู้ติดเชื้อ Covid-19 : "+data.Province.Trang+" คน");
               });
            </script>
          <p>เกาะมุก ได้ชื่อว่า “ถ้ำมรกตอันล้ำค่าแห่งอันดามัน” เป็นเกาะที่ใหญ่เป็นอันดับที่ 3 ของท้องทะเลตรังเลยทีเดียว นอกจากชาดหาดที่สวยงามแล้ว เกาะมุกยังมีจุดเด่นที่ ถ้ำมรกต ถ้ำน้ำเล็กๆ ซึ่งมีความยาวประมาณ 80 เมตร นักท่องเที่ยวจะต้องลอยตัวฝ่าความมืดเพื่อเข้าไปภายในถ้ำและต้องเป็นช่วงเวลาน้ำลงเท่านั้นด้วย ภายในถ้ำน้ำทะเลจะมีสีเขียวคล้ายมรกตสวยงามอลังการ Unseen สุดๆ</p>
          <p>จ.ตรัง</p>
          <p><a href="#contact" class="button">Contact</a></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/images/ชิงช้าต้นไม้.jpg" alt="ชิงช้าต้นไม้" style="width:100%">
        <div class="container">
          <h2>ชิงช้าต้นไม้</h2>
          <div id="result1" style="margin:10px; color:black;"></div>
            <script>
              $.get("https://covid19.th-stat.com/api/open/cases/sum",function(data,status){
                $("#result1").html  ("ผู้ติดเชื้อ Covid-19 : "+data.Province.Phitsanulok+" คน");
               });
            </script>
          <p>ถ้ามีโอกาสไปเที่ยวพิษณุโลก แต่ไม่ได้ไปนั่งชิงช้าต้นไม้ ที่ บ้านสวนชมวิวภูรักไทย อ.เนินมะปราง เราบอกเลยว่าพลาดอย่างแรง!!! เพราะเป็นจุดชมวิวที่สวยที่สุดในพิษณุโลกทีเดียวค่ะ

            จากจุดชมวิวบนต้นไม้นี้สามารถมองออกไปเห็นทิวเขาและพื้นที่ราบรอยต่อของ 5 จังหวัด คือ นครสวรรค์ ลพบุรี พิจิตร เพชรบูรณ์ และพิษณุโลก เวลาที่แนะนำให้มาเลยก็คือช่วงปลายฝนต้นหนาว เพราะจะได้เห็นทั้งทะเลหมอกและพระอาทิตย์ขึ้นยามเช้าเลยทีเดียว</p>
          <p>จ.พิษณุโลก</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/images/เกาะไม้ท่อน.jpg" alt="เกาะไม้ท่อน" style="width:100%">
        <div class="container">
          <h2>เกาะไม้ท่อน</h2>
          <div id="result2" style="margin:10px; color:black;"></div>
            <script>
              $.get("https://covid19.th-stat.com/api/open/cases/sum",function(data,status){
                $("#result2").html  ("ผู้ติดเชื้อ Covid-19 : "+data.Province.Phuket+" คน");
               });
            </script>
          <p>Honeymoon Island หรือ เกาะไม้ท่อน เกาะส่วนตัวที่มองจากด้านบนอากาศลงมาแล้วจะเห็นเป็นรูปท่อนไม้ จึงเป็นที่มาของเกาะไม้ท่อนนั่นเอง ด้วยความที่เป็นเกาะส่วนตัวเลยทำให้นักท่องเที่ยวที่มาเที่ยวพักผ่อนที่นี่ต่อวันมีไม่มากนัก ความอุดมสมบูรณ์ของธรรมชาติเลยมีให้เห็นอย่างนี้แหละค่ะ</p>
          <p>จ. ภูเก็ต</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
</div>

<div class="w1" id="portfolio"></div>
  <div class="row">
    <div class="column">
        <div class="card">
          <img src="/images/ทุ่งดอกบัวตองดอยแม่อูคอ.jpg" alt="ดอยค้ำฟ้า" style="width:100%">
          <div class="container">
            <h2>ทุ่งดอกบัวตองดอยแม่อูคอ</h2>
            <div id="result3" style="margin:10px; color:black;"></div>
              <script>
                $.get("https://covid19.th-stat.com/api/open/cases/sum",function(data,status){
                  $("#result3").html  ("ผู้ติดเชื้อ Covid-19 : "+data.Province.Sukhothai+" คน");
                 });
              </script>
            <p>เมื่อฤดูหนาวเข้ามาเยือนเมืองแม่ฮ่องสอน ทุ่งดอกบัวตองดอยแม่อูคอจะบานสะพรั่งดึงดูดนักท่องเที่ยวให้เข้ามา เยือน และชมความงดงาม ของท้องทุ่งที่เต็มไปด้วยสีเหลืองปกคลุมเต็มเทือกเขา มีพื้นที่ครอบคลุมบริเวณ ประมาณ 1,000 ไร่ และจะบานสะพรั่งในช่วงเดือน พฤศจิกายน- ต้นเดือนธันวาคม  ซึ่งมีให้ชมเพียงปีละครั้งเท่านั้น</p>
            <p>จ. แม่ฮ่องสอน</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
  
      <div class="column">
        <div class="card">
          <img src="/images/อำเภอปัว.jpg" alt="อำเภอปัว" style="width:100%">
          <div class="container">
            <h2>อำเภอปัว</h2>
            <div id="result4" style="margin:10px; color:black;"></div>
              <script>
                $.get("https://covid19.th-stat.com/api/open/cases/sum",function(data,status){
                  $("#result4").html  ("ผู้ติดเชื้อ Covid-19 : "+data.Province.Lamphun+" คน");
                 });
              </script>
            <p>ปัว อำเภอเล็กๆในจังหวัดน่าน ที่ในปัจจุบันนี้ไม่ใช่เพียงแค่ทางผ่านอีกต่อไป   ปัว เป็นเมืองสีเขียวในหุบที่เต็มไปด้วยแหล่งท่องเที่ยวเชิงวัฒนธรรมและธรรมชาติแสนงดงาม เป็นที่อยู่ของผู้คนหลากหลายเชื้อชาติ  มีประเพณีและวัฒนธรรมเป็นของตนเอง  ในช่วงฤดูทำนา คือ ฤดูยอดฮิต ของการเที่ยวอำเภอปัว  เพราะจะได้เห็นไร่นาเขียวขจีห้อมล้อมด้วยขุนเขาพร้อมสายหมอกบาง  ส่วนในฤดูหนาวก็จะได้สัมผัสกับอากาศหนาวเย็นเหมาะสำหรับพักผ่อน ในบรรยากาศที่แสนสงบ</p>
            <p>จ. น่าน</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="/images/ดอยค้ำฟ้า.jpg" alt="ดอยค้ำฟ้า" style="width:100%">
          <div class="container">
            <h2>ดอยค้ำฟ้า</h2>
            <div id="result5" style="margin:10px; color:black;"></div>
              <script>
                $.get("https://covid19.th-stat.com/api/open/cases/sum",function(data,status){
                  $("#result5").html  ("ผู้ติดเชื้อ Covid-19 : "+data.Province.Ratchaburi+" คน");
                 });
              </script>
            <p>ดอยค้ำฟ้า ตั้งอยู่ที่ตำบลทุ่งข้าวพวง อ.เชียงดาว อยู่ในความดูแลของหน่วยจัดการต้นน้ำแม่งาย มีความสูงจากระดับน้ำทะเล 1,834 เมตร  ดอยค้ำฟ้ามีป่าต้นน้ำที่สมบูรณ์ มีลำธารน้ำตก มีวิวทิวทัศน์ที่สวยงาม ไฮไลท์สำคัญคือการชมทะเลหมอกคลอเคลียตามไหล่เขา สลับซับซ้อนหนึ่งในนั่นคือยอดดอยหลวงเชียงดาวสวยงามดุจภาพวาดที่อยู่เบื้องหน้า  นอกจากนี้หากเดินทางมาเที่ยวในช่วง กลางเดือนมกราคมจะได้พบกับดอกนางพญาเสือโคร่งผลิบานอีกด้วย</p>
            <p>จ. เชียงใหม่</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>  
    </div>
  <body>
<!-- Navbar on small screens -->
<div class="w3-center w3-light-grey w3-padding-16 w3-hide-large w3-hide-medium">
<div class="w3-bar w3-light-grey">
  <a href="#" class="w3-bar-item w3-button">Home</a>
  <a href="#portfolio" class="w3-bar-item w3-button">Portfolio</a>
  <a href="#contact" class="w3-bar-item w3-button">Contact</a>
</div>
</div>
<footer>
<!-- Page content -->


  <div class="w3-light-grey w3-padding-large w3-padding-32 w3-margin-top" id="contact">
    <footer class="w3-center w3-light-grey w3-padding-32">
      <p>Shallrear</p>
</footer>

</div>

</body>

</html>